

  .checkout-grid-form {
    margin-left: 2em;
    margin-bottom: 30px;
    justify-self: end;


  }

  .checkout-grid-summary {
    justify-self: center;

  }

  .checkout-container{

      margin-right: 15px;
    margin-right: 15px;
    padding-top: 15em;
    padding-bottom: 5em;

  }

  .thankyouBox1 {
    background-color: 'green'
  }

    .thankyouBox2 {
    background-color: 'blue'
  }
