
.account-container {
    padding-top: 10em;
}

.account-subcontainer{
    display: flex;
    padding: 50px 20%;
    height: 100vh;

}

.likes-container{

    width: 50%;
    height: 50%;
    display: flex;
    box-sizing: border-box;
    border-right: 2px solid lightgrey;
    flex-direction: column;
    padding-right: 2em;


}

.likes-container > div {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.account-info-container{
    height: 50%;
    width: 100%;
    padding: 1.5rem 2.5rem;
    display: flex;
    flex-direction: column;
}

.account-info-header{
    font-size: 2.5rem;
    padding-bottom: 0.8rem;;
    border-bottom: 3px solid black;
}

.account-info-content{
    margin-top: 2rem;
}

.account-info-row{
    display: flex;
    padding: 1rem 0;
    justify-content: space-between;
    border-bottom: 2px solid lightgrey;
}
