

.headline {
    margin-top: 6em;
    text-align: center;
    border-bottom: 1px solid;
    padding: .5em;
    font-family: Oswald;

}

.headline-container {
    margin: 0 auto;
    max-width: 50%;
}


.likes-container {
    margin: 0 auto;
    /* grid-area: Likes; */
    text-align: center;
}


.like-image {
    max-width: 50px;
    margin: 0 auto;
    cursor: pointer;

}

.like-container {
    margin: 2em 0;
}


.account-info-container {
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    font-weight: 700;
    margin-top: 1em;
    padding: 1em;
}
