
.banner-flex-container{
    display: flex;
    justify-content: space-around;
    margin-top: 10em;
}

.homepage-promo-container{
    display: flex;
    flex-direction: column;
    padding: 6em;

}



@media screen and (min-width: 800px) {
    #homePage-promo {display: flex}
}

@media screen and (min-width: 0px) and (max-width: 799px) {
    #homePage-promo {display: none}
}
